body{
  background-color: #2c3e50;
  display: flex;
  justify-content: center;
  align-contents: center;
  height: 100vh;
  font-family: monospace;
  padding: 100px;
}
.watch-container{
  text-align: center;
  background: black;
  color: #00ff00;
  padding: 20px 40px;
  border-radius: 15px;
  border: 4px solid #555;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
}
h1{
  font-size: 60px;
  margin: 10px 0 30px 0;
}
button{
  font-family: sans-serif;
  padding: 20px 30px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  margin: 5px;
  font-weight: bold;
}
#startbtn{
  background: #27ae60;
}
#stopbtn{
  background: #c0392b;
}
#resetbtn{
  background: #f39c12;
}